In [2]:
from IPython.display import display
import requests
import urllib
import json
import pandas as pd
import numpy as np
from pandas import DataFrame
from bs4 import BeautifulSoup
import time
from datetime import datetime
from datetime import timedelta

### Peach Airline Crawling Job
- 홈페이지
- https://booking.flypeach.com/kr
 사이트 접속 조건 검색

In [4]:
def crawling_MM(dpt,arr,dpt_date):
    url = 'https://booking.flypeach.com/kr'
    head = {
        'Accept-Language':'ko-KR,ko',
        'Referer':'https://booking.flypeach.com/kr?_ga=2.79254676.1235382553.1501546514-1434503226.1500937166',
        'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36',
    }
    param = {
        'flight_search_parameter[0][departure_date]':dpt_date,#'2017/08/30',
        'flight_search_parameter[0][departure_airport_code]':dpt,
        'flight_search_parameter[0][arrival_airport_code]':arr,
        'flight_search_parameter[0][is_return]':'false',
        'flight_search_parameter[0][return_date]':'',
        'adult_count':'1',
        'child_count':'0',
        'infant_count':'0',
    }
    req = requests.post(url,param,headers=head)
    return req.text

In [5]:
## 포맷 : 대상항공사코드,플라이트,출발일,출발지,도착지,출발시간,도착시간,가격,유류세,세금,좌석수
def scraping_MM(head,raw_data):
    start_txt = 'var flightResults ='
    end_txt = 'var lowestPrices ='
    start_pos = raw_data.find(start_txt) + len(start_txt)
    end_pos = raw_data.find(end_txt)
    json_data = json.loads(raw_data[start_pos:end_pos].strip()[:-1])[0]
    fare_list = []
    for sch in json_data:
        for _,fare in sch['fares'].items():
            fare_list.append([head['airline'],sch['flightNumber'],head['dpt_date'],sch['originCode'],sch['destinationCode'],
                              sch['departureTime'][11:16],sch['arrivalTime'][11:16],fare['fare'],'0',sch['taxAdult'],'9'])
    return fare_list

In [7]:
dpt = 'KIX'
arr = 'ICN'
dpt_date = '20170810'
raw_data = crawling_MM(dpt,arr,dpt_date)
head = {
    'airline':'MM',
    'dpt_date':dpt_date
}
fare_list = scraping_MM(head,raw_data)
pd.DataFrame(fare_list)

   0      1         2    3    4      5      6      7  8       9  10
0  MM  MM005  20170810  KIX  ICN  12:30  14:20  23780  0  1540.0  9
1  MM  MM005  20170810  KIX  ICN  12:30  14:20  18580  0  1540.0  9
2  MM  MM005  20170810  KIX  ICN  12:30  14:20  26280  0  1540.0  9
3  MM  MM009  20170810  KIX  ICN  18:10  20:00  26880  0  1540.0  9
4  MM  MM009  20170810  KIX  ICN  18:10  20:00  20980  0  1540.0  9
5  MM  MM009  20170810  KIX  ICN  18:10  20:00  29380  0  1540.0  9
6  MM  MM011  20170810  KIX  ICN  20:05  21:55  32480  0  1540.0  9
7  MM  MM011  20170810  KIX  ICN  20:05  21:55  25980  0  1540.0  9
8  MM  MM011  20170810  KIX  ICN  20:05  21:55  34980  0  1540.0  9